@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font, monospace";
   /* font-weight: bold;*/
    font-size: 14px;
    min-height: 0;
}


window#waybar {
    border: none;
    border-radius: 0;
    background: rgba(0, 0, 0, 0);
    color: #cdd6f4;
}

tooltip {
    background: #010409;
    border-radius: 10px;
}

#workspaces button {
    color: @color4;
    padding-left: 7px;
    opacity: 0.5;
}

#workspaces {
    border: 4px solid  @color1;
}

#workspaces button.active {;
    background: @color2;
    border-radius: 25%;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    min-width: 15px;
    border-radius: 15px;
}

#workspaces button.focused {
    color: @color3;
    background: @background;
}

#workspaces button.urgent {
    color: @color4;
    background: #010409;
}

#workspaces button:hover {
    background: @background;
    color: @color5;
    transition: all 0.5s ease-in-out;
    min-width: 17px;
}

#cpu,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
    padding: 0px 14px;
}

#cpu {
    color: @color13;
    border: 4px solid @color1;
    border-radius: 25;
}

#temperature {
    color : @color13;
    border: 4px solid @color1;
    border-radius: 25;
}

#temperature.critical {
    color: @color15;
    border: 4px solid @color1;
    border-radius: 25;
}

#tray {
    margin-right: 10px;
    border-radius: 25;
}

#workspaces {
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
    border-radius: 25;
}


#window {
    margin-left: 17px;
    margin-right: 17px;
    color: @color5;
    border-radius: 25;
    border: 4px solid @color2;
    transition: opacity 0.5s ease-in-out;
}

#clock {
    border: 4px solid @color1;
    color: @color6;
    margin-right: 14px;
    border-radius: 25;
}

#network {
    color: @color13;
    border: 4px solid @color1;
    border-radius: 25;
    transition: all 0.5s ease-in-out;
}

#bluetooth {
    color: @color8;
    border: 4px solid @color1;
    border-radius: 25;
} 

#pulseaudio {
    color: @color9;
    border: 4px solid @color1;
    border-radius: 25;
}

#pulseaudio.microphone {
    color: @color10;
    border: 4px solid @color1;
    border-radius: 25;
}

#battery {
    color: @color11;
    border: 4px solid @color1;
    border-radius: 25;
}
