@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font, monospace";  
/*    font-family: "FiraCode Nerd Font, monospace"; */
    font-weight: bold;
    font-size: 10px;
    min-height: 0;
}

*:hover {
    color: blueviolet;
}

h1 {
    border: 5px double blue;
}


#custom-power {
    background: @background;
    border: 4px solid  @color2;
    margin-left: 10px;
    padding-right: 0px;
    border-radius: 25;
    color: @color1;
}

window#waybar {
    border: none;
    border-radius: 0;
    background: rgba(0, 0, 0, 0);
    color: #cdd6f4;
}


window#waybar.empty button.active {
    background-color: blue;
}


window#waybar.empty #window {
    opacity: 0;
}



tooltip {
    background: #010409;
    border-radius: 10px;
}

#workspaces button {
    color: @color7;
    padding-left: 7px;
    opacity: 0.9;
}

#workspaces {
    background: @background;
    border: 4px solid  @color2;
}

h1 {
    color: whitesmoke;
}

#workspaces button.active {
    background: @color2;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    min-width: 15px;
    border-radius: 15px;
}

#workspaces button.focused {
    color: @color1;
    background: @background;
}

#workspaces button.urgent {
    color: @color4;
    background: #010409;
}

#workspaces button:hover {
    background: @color5;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
    min-width: 17px;
}

#cpu,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
    padding: 0px 14px;
    background: @background;
}

#cpu {
    color: @color3;
    border: 4px solid @color2;
    border-radius: 25px;
    background: @background;
}

#temperature {
    color : @color8;
    border: 4px solid @color2;
    border-radius: 25px;
    background: @background;
}

#temperature.critical {
    color: @color15;
    border: 4px solid @color2;
    border-radius: 25px;
    background: @background;
}

#tray {
    border: 4px dotted @color2;
    margin-right: 10px;
    border-radius: 25px;

}

#taskbar {
    background: @background;
    border: 2px solid @color2;
    font-size: 1px;
    border-radius: 25px;
}

#taskbar button.active {
    background: @color2;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    border-radius: 25px;

}

#workspaces {
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
    border-radius: 25px;

}


#window {
    margin-left: 5px;
    margin-right: 17px;
    color: @color3;
    border-radius: 25px;
    border: 4px solid @color2;
    transition: opacity 0.5s ease-in-out;
    background: @background;
}

#clock {
    border: 4px solid @color2;
    color: @color1;
    margin-right: 14px;
    border-radius: 25px;
}

#network {
    color: @color8;
    border: 4px solid @color2;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
}

#bluetooth {
    color: @color8;
    border: 4px solid @color2;
    border-radius: 25px;
} 

#pulseaudio {
    color: @color4;
    border: 4px solid @color2;
    border-radius: 25px;

}

#pulseaudio.microphone {
    color: @color10;
    border: 4px solid @color2;
    border-radius: 25px;
}

#battery {
    color: @color6;
    border: 4px solid @color2;
    border-radius: 25px;
}

